---
layout: default
---

  {% include page-intro.html %}

  {{ content }}

<div class="announcement_bar">
  <img src="{{ "/assets/img/mic.png" | relative_url }}">Order 5 or more virtual tours and get a 20% discount off your entire order!</div>
</div>

<!-- Announcement Bar Ends-->

<div class="banner_panel">
  <div class="container">
    <div class="banner_desc">
      <h1><u>360°</u> VIRTUAL TOURS</h1>
      <p>Finally, an affordable virtual tour creation service designed especially for multi-family and commercial real estate.  Display your properties from every angle with our fast and painless no subscription tour creation service at a fraction of cost of other providers.</p>
      <a href="javascript:;" class="button">View Example Tour</a>
    </div>
  </div>
</div>
<!-- Banner Ends-->
<div class="list_panel">
  <div class="container">
    <ul>
      <li>
        <span>01</span>
        <h3>NO SUBSCRIPTIONS</h3>
        <p>Pay a fixed price for each Virtual Tour.</p>
      </li>
      <li>
        <span>02</span>
        <h3>PAINLESS WITH NO TECH EXPERTISE REQUIRED</h3>
        <p>You take and upload your photos. Or we can take them for you for a small additional fee. You choose. We do everything else for a fixed low price. </p>
      </li>
      <li>
        <span>03</span>
        <h3>COLOSSAL TIMESAVER</h3>
        <p>If you are taking the photos yourself, you will spend less time taking photos. A typical 4 bedroom house takes only 15 minutes. If you want to save yourself the hassle of traveling to the property, we can take the photos and save you even more time.</p>
      </li>
      <li>
        <span>04</span>
        <h3>24 HOUR TURNAROUND</h3>
        <p>We’ll send your Virtual Tour link ready to publish to any real estate portal, promote on social media, or embed on your website.</p>
      </li>
    </ul>
  </div>
</div>
<!-- After Banner Ends-->

<div class="featured-panel">
  <div class="container">
    <div class="featured-panel-img">
      <img src="{{ "/assets/img/bildng.png" | relative_url }}">
    </div>
    <div class="featured-panel-desc">
      <h2>FEATURES FOR <br>YOUR VIRTUAL TOURS...</h2>
      <ul class="global-list">
        <li>Custom branding with your logo and clickable links</li>
        <li>Add a floor plan with clickable views.</li>
        <li>Add information Hotspots (photos, URLs, Videos and Text)</li>
        <li>Add your contact information and links to your website</li>
        <li>Add a classic 2D photo gallery within the virtual tour.</li>
        <li>Add background music or voice overs</li>
        <li>Add virtual staging</li>
        <li>Virtual reality headset (VR) compatible</li>
      </ul>
      <a class="button yellow-btn" href="javascript:;">View Example Tour</a>
    </div>
  </div>
</div>

<!-- Featured Ends-->

<div class="simple-panel">
  <div class="container">
    <div class="panel-heading">
      <h2>IT’S AS <u>SIMPLE</u> AS…</h2>
    </div>
    <div class="simple-panel-box">
      <img src="{{ "/assets/img/icon-camera.png" | relative_url }}">
      <h3>TAKE 360° PHOTOS</h3>
      <p>Take 360° photos using any 360° camera.<br>Or<br> Let us take the photos for you and skip the next step! <span>01</span></p>
    </div>
    <div class="simple-panel-box">
      <img src="{{ "/assets/img/icon2.png" | relative_url }}">
      <h3>UPLOAD</h3>
      <p>Upload your photos to TopOccupancy.com.  <span>02</span></p>
    </div>
    <div class="simple-panel-box">
      <img src="{{ "/assets/img/icon-camera.png" | relative_url }}">
      <h3>PUBLISH & SHARE</h3>
      <p>We do all the work. Within 24 hours we send you a link to your 360° Virtual Tour. <span>03</span></p>
    </div>
  </div>
</div>

<div class="cost-panel">
  <div class="container">
    <div class="panel-heading">
      <h2>HOW MUCH WILL IT <u>COST</u> ?</h2>
    </div>
    <div class="cost-panel-table">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th>PHOTOS</th>
          <th>Cost <span>(Uploading your own photos)</span></th>
          <th>Cost <span>(if we take the pictures for you)</span></th>
          <th>PROPERTY SIZE</th>
          <th>AVERAGE SHOOT TIME</th>
        </tr>
        <tr>
          <td>Up to 15</td>
          <td>$14</td>
          <td>$69</td>
          <td>Up to 3 bedrooms</td>
          <td>5-15 minutes</td>
        </tr>
        <tr>
          <td>16 to 25</td>
          <td>$22</td>
          <td>$79</td>
          <td>4- 5 bedrooms</td>
          <td>15-20 minutes</td>
        </tr>
        <tr>
          <td>26+</td>
          <td>$6 plus $0.75 per photo</td>
          <td>Contact us for custom quote</td>
          <td>6+ bedrooms with multiple living areas</td>
          <td>20+ minutes</td>
        </tr>
      </table>
      <small>*All Virtual Tours include 12 months of free link hosting. If you would like your tour to remain public for longer, it’s only an extra $8 per year.</small>
    </div>
  </div>
</div>

<!-- Cost Ends-->

<div class="multi-panel">
  <div class="multi-panel-img">
    <img src="{{ "/assets/img/img6.jpg" | relative_url }}">
  </div>
  <div class="multi-panel-desc">
    <div class="multi-panel-desc-inner">
      <h2>SAVE PRECIOUS TIME</h2>
      <h6>NO LONG PHOTO SHOOTS NEEDED. MINIMIZE UNNECESSARY SHOWINGS</h6>
      <p>Virtual tours are not only fast and easy to create, but they also help you lease properties faster by saving you the precious time you normally spend showing prospective renters vacant units.   90% of renters start their search online. By the time a prospective renter contacts you for an in-person tour, the 360 virtual tour has already done the selling for you!</p>
    </div>
  </div>
</div>
<div class="multi-panel multi-panel-reverse">
  <div class="multi-panel-img">
    <img src="{{ "/assets/img/img5.jpg" | relative_url }}">
  </div>
  <div class="multi-panel-desc">
    <div class="multi-panel-desc-inner">
      <h2>EFFORTLESSLY CREATE A VIRTUAL TOUR</h2>
      <h6>NO TECH KNOW-HOW NEEDED</h6>
      <p>Not tech-savvy but want impressive marketing? This is the right place to be! Just send us your 360° photos or schedule us to take the photos for you, and we’ll create an eye-catching virtual tour that will do the selling for you and help you lease that vacancy in record time!</p>
    </div>
  </div>
</div>
<div class="multi-panel">
  <div class="multi-panel-img">
    <img src="{{ "/assets/img/img4.jpg" | relative_url }}">
  </div>
  <div class="multi-panel-desc">
    <div class="multi-panel-desc-inner">
      <h2>USE ANY 360° CAMERA</h2>
      <h6>NO NEED FOR COSTLY CAMERAS COSTING THOUSANDS OF DOLLARS</h6>
      <p>Yes, you heard right,there’s noneed to use an costly and cumbersome camera to create a virtual tour anymore! Now you can produce professional results using any 360° camera. Simply take your 360° photos, send them to us, and we’ll create a stunning virtual tour for you in 24 hours. Enjoy the extra time and money saved. If you don’t want to take the photos yourself, even our photo shooting service is extremely fast and affordable to set up.</p>
    </div>
  </div>
</div>
<div class="multi-panel multi-panel-reverse">
  <div class="multi-panel-img">
    <img src="{{ "/assets/img/img3.jpg" | relative_url }}">
  </div>
  <div class="multi-panel-desc">
    <div class="multi-panel-desc-inner">
      <h2>NO MONTHLY SUBSCRIPTION FEES</h2>
      <h6>ENJOY PAY AS YOU GO PRICING FOR EACH VIRTUAL TOUR</h6>
      <p>Who likes monthly subscription fees anyway? With our service, you only pay a small once-off fee and we send you a link to your virtual tour. Best of all, it’s valid for one whole year at no additional cost. Generate more online leads by including this link in your Craigslist ads or by sharing this link to your online property portals, emails, and even social media.</p>
    </div>
  </div>
</div>
<div class="multi-panel">
  <div class="multi-panel-img">
    <img src="{{ "/assets/img/img2.jpg" | relative_url }}">
  </div>
  <div class="multi-panel-desc">
    <div class="multi-panel-desc-inner">
      <h2>BLAZING-FAST TURNAROUND</h2>
      <h6>YOUR VIRTUAL TOUR LINK WILL BE READY IN UNDER 24 HOURS</h6>
      <p>We understand that you must get your listing online as soon as possible. That’s why our professional editors work hard to have your virtual tour available within 24 hours.</p>
    </div>
  </div>
</div>
<div class="multi-panel multi-panel-reverse">
  <div class="multi-panel-img">
    <img src="{{ "/assets/img/img1.jpg" | relative_url }}">
  </div>
  <div class="multi-panel-desc">
    <div class="multi-panel-desc-inner">
      <h2>UNLIMITED CHANGES</h2>
      <h6>TRANSFORM YOUR VIRTUAL TOUR</h6>
      <p>Is your empty listing getting a bit stale? Want to help potential renters visualize the space with modern furniture and get rid of that empty, cold and abandoned feeling? Well, now you can with 360° Virtual Staging! This is where we add digital furniture to your listing to create an ultra-realistic virtual tour. This service (that does cost a little extra) will help you rent spaces 75% faster than those that are not staged.</p>
    </div>
  </div>
</div>
<!-- Multi Panel Ends-->

<div class="calltoaction-panel">
  <div class="container">
    <div class="calltoaction-panel-desc">
      <h2>View example tour with 360° Virtual Staging</h2> <a href="javascript:;" class="button yellow-btn">View Example Tour</a>
    </div>
  </div>
</div>

<!-- Calltoaction Panel Ends-->
<div class="contact-panel">
  <div class="container">
    <div class="contact-panel-form">
      <h2>GET STARTED <br>IN LESS THAN 2 MINUTES</h2>
      <form>
        <div class="form-group">
          <input type="text"  name="firstname" required="required" />
          <label>First Name</label>
        </div>
        <div class="form-group">
          <input type="text"  name="lastname" required="required" />
          <label>Last Name</label>
        </div>
        <div class="form-group">
          <input type="text"  name="email" required="required" />
          <label>Email Address</label>
        </div>
        <div class="form-group">
          <input type="text"  name="phone" required="required" />
          <label>Phone</label>
        </div>
        <div class="form-group full-width">
          <textarea name="Comments" placeholder="Comments"></textarea>
        </div>
        <div class="form-group full-width">
          <button class="button yellow-btn">Order Virtual Tour Now</button>
          <small>To order multiple tours, contact us at XXX-XXX-XXXX or use the contact form above Upload your 360° photos:</small>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Contact Panel Ends-->

<div class="footer-panel">
  <div class="container">
    <div class="footer-panel-box">
      <img src="{{ "/assets/img/logo.png" | relative_url }}">
    </div>
    <div class="footer-panel-box">
      <h4>About</h4>
      <ul>
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Service</a></li>
        <li><a href="javascript:;">About</a></li>
        <li><a href="javascript:;">Resources</a></li>
        <li><a href="javascript:;">Blog</a></li>
      </ul>
    </div>
    <div class="footer-panel-box">
      <h4>Other</h4>
      <ul>
        <li><a href="javascript:;">Pricing</a></li>
        <li><a href="javascript:;">Privacy Policy</a></li>
        <li><a href="javascript:;">Terms & Conditions</a></li>
      </ul>
    </div>
    <div class="footer-panel-box">
      <h4>Get Social</h4>
      <ul>
        <li><a href="javascript:;"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="javascript:;"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="javascript:;"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<!-- <section>

    <h3>Recent posts from the blog</h3>

    <ul>
      {% for post in site.posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </section>-->
